
.connctWithUsCf{

display: flex;
flex-direction: column;

padding: 4rem auto 4rem auto;

}

.Vector8{
    width:40%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 0rem auto;
    z-index: 1;    
}


.maindiv{

    position: relative;
    margin: -.5rem auto 0 auto;
    width:90%;
    height: auto;
    
    background-color: #373737;
    border-radius: 2rem;
    z-index: 2;
 
}


.patternAYR{
    width: 70%;
    height: auto;
    margin:2rem 0 1.2% -.9%;
}


.text{
    width:90%;
    justify-content: center;
    margin: 20% 0 0 5%;

    color: white;
    }

    .ReadyHead{
        width: 50%;
        font-size: 300%;
        font-weight: 700;
    }
    .ayrgraph{
        width:50%;
        font-size: 180%;
       
        color: #FFF;
    
    
    }        


    .digitspan{
        color: #FA4000;
    }
    .ReBtn2{
        background: #000 !important;
    } 
    .ReBtn2:hover{
        background: #FA4000 !important;
    }
    .grouprow{
        display: flex;
    }
    .DoubleRect1{

        width: 20%;
        height: auto;
   margin: -2% 0 10% 80%;     

        
         }   



@media (min-width:768px) and (max-width:991px){



    .connctWithUsCf{

        display: flex;
        flex-direction: column;
        
        padding: 4rem auto 4rem auto;
        
        }
        
        .Vector8{
            width:40%;
            height: auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5rem auto 0rem auto;
            z-index: 1;    
        }
        
        
        .maindiv{
        
            position: relative;
            margin: -.5rem auto 0 auto;
            width:90%;
            height: auto;
            
            background-color: #373737;
            border-radius: 2rem;
            z-index: 2;
         
        }
        
        
        .patternAYR{
            width: 80%;
            height: auto;
            margin:8rem 0 1.2% -.9%;
        }
        
        
        .text{
            width:90%;
            justify-content: center;
            margin: 20% 0 0 5%;
        
            color: white;
            }
        
            .ReadyHead{
                width: 90%;
                font-size: 250%;
                font-weight: 700;
            }
            .ayrgraph{
                width:90%;
                font-size: 150%;
               
                color: #FFF;
            
            
            }        
        
        
            .digitspan{
                color: #FA4000;
            }
            .ReBtn2{
                background: #000 !important;
                margin-top: 1rem;
            } 
            .ReBtn2:hover{
                background: #FA4000 !important;
            }
            .grouprow{
                display: flex;
            }
            .DoubleRect1{
        
                width: 20%;
                height: auto;
           margin: -2% 0 10% 78%;     
        
                
                 }   
        
        






}



@media (min-width:991px) and (max-width:1200px){



    .connctWithUsCf{

        display: flex;
        flex-direction: column;
        
        padding: 4rem auto 4rem auto;
        
        }
        
        .Vector8{
            width:40%;
            height: auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5rem auto 0rem auto;
            z-index: 1;    
        }
        
        
        .maindiv{
        
            position: relative;
            margin: -.5rem auto 0 auto;
            width:90%;
            height: auto;
            
            background-color: #373737;
            border-radius: 2rem;
            z-index: 2;
         
        }
        
        
        .patternAYR{
            width: 80%;
            height: auto;
            margin:7rem 0 2% -.9%;
        }
        
        
        .text{
            width:90%;
            justify-content: center;
            margin: 20% 0 0 5%;
        
            color: white;
            }
        
            .ReadyHead{
                width: 90%;
                font-size: 280%;
                font-weight: 700;
            }
            .ayrgraph{
                width:90%;
                font-size: 180%;
               
                color: #FFF;
            
            
            }        
        
        
            .digitspan{
                color: #FA4000;
            }
            .ReBtn2{
                background: #000 !important;
                margin-top: 1rem;
            } 
            .ReBtn2:hover{
                background: #FA4000 !important;
            }
            .grouprow{
                display: flex;
            }
            .DoubleRect1{
        
                width: 20%;
                height: auto;
           margin: -2% 0 10% 78%;     
        
                
                 }   
        
        






}



@media (min-width:1201px) and (max-width:1534px){



    .connctWithUsCf{

        display: flex;
        flex-direction: column;
        margin: 10rem 0 0 0;
        padding: 4rem auto 4rem auto;
        
        }
        
        .Vector8{
            width:40%;
            height: auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5rem auto 0rem auto;
            z-index: 1;    
        }
        
        
        .maindiv{
        
            position: relative;
            margin: -.5rem auto 0 auto;
            width:90%;
            height: auto;
            
            background-color: #373737;
            border-radius: 2rem;
            z-index: 2;
         
        }
        
        
        .patternAYR{
            width: 90%;
            height: auto;
            margin:7rem 0 2% -.9%;
        }
        
        
        .text{
            width:90%;
            justify-content: center;
            margin: 30% 0 0 5%;
        
            color: white;
            }
        
            .ReadyHead{
                width: 90%;
                font-size: 330%;
                font-weight:bold;
            }
            .ayrgraph{
                width:90%;
                font-size: 180%;
                margin-top: 2rem;
               
                color: #FFF;
            
            
            }        
        
        
            .digitspan{
                color: #FA4000;
            }
            .ReBtn2{
                background: #000 !important;
                margin-top: 2rem;
            } 
            .ReBtn2:hover{
                background: #FA4000 !important;
            }
            .grouprow{
                display: flex;
            }
            .DoubleRect1{
        
                width: 20%;
                height: auto;
           margin: -2% 0 10% 78%;     
        
                
                 }   
        
        






}












/* 
.Vector8{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem auto 0rem auto;
    z-index: 1;
  
    
   
}

.maindiv{

    position: relative;
    margin: -2rem auto 0 auto;
    width:90%;
    height: 40rem;
    background-color: #373737;
    border-radius: 2rem;
    z-index: 2;
 
}


.patternAYR{
    width: 50%;
    height: auto;
    margin:2rem 0 0 .8rem;
}


.setlled{
    float: left;
}
.text{
justify-content: center;
margin: 8rem 0 0 7rem;
}

.ReadyHead{
    width: 400px;
    font-size: 5rem;
    font-weight: 800;
    color: #FFF;
}

.ayrgraph{
    width:310px;
    font-size: 1.75rem;
    font-weight: 400;
    color: #FFF;


}

.digitspan{
    color: #FA4000;
}

.ReBtn2{
   
    background-color: black !important;
}


.DoubleRect1{
    margin: -1rem 0 0 0;
}






@media (max-width:500px){
.Vector8{
    position: relative;
    width:60% ;
    height: auto;
    display: flex;

    justify-content: center;
    align-items: center;
    
    z-index: 1;
  
    
   
}

.maindiv{

    position: relative;
    margin: -1rem auto 0 auto;
    width:90%;
    height:100vh;
    background-color: #373737;
    border-radius: 2rem;
    z-index: 2;
 
}


.patternAYR{
    width:80%;
    height: auto;
    margin:3rem 0 1.2rem .2rem;
}


.setlled{
    float: left;
}
.text{
    display: flex;
justify-content: center;
width: 100%;
align-items: center;
    justify-items: center;

   
}

.ReadyHead{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items:center;
    align-content: center;
  width: 100%;
    font-size:1rem;
    font-weight: 500;
    color: #FFF;
    margin:0 0 0 10;
    
}

.ayrgraph{
   
    font-size: 0.875rem;
    font-weight: 200;
    color: #FFF;
    margin: 100% 0 0% 10%;


}

.digitspan{
    color: #FA4000;
}

.ReBtn2{
   width: 130px;
   font-size: .65rem;
    background-color: black !important;
    margin: 0 0 0 -8%;

}

.DoubleRect1{
    width:8rem;
    height:auto;
    margin-top: -0.4rem;
}

}
@media (min-width:500px) and (max-width:768px){
    .Vector8{
        position: relative;
        
        height: auto;
        display: flex;
        width: 13rem;
        justify-content: center;
        align-items: center;
        margin:4rem auto 0rem 5rem;
        z-index: 1;
      
        
       
    }

.maindiv{

    position: relative;
    margin: -2rem auto 0 auto;
    width:90%;
    height: 50rem;
    background-color: #373737;
    border-radius: 2rem;
    z-index: 2;
 
}


.patternAYR{
    width:22rem;
    height: auto;
    margin:3rem 0 0 .2rem;
}



.text{
justify-content: center;
margin: 0rem auto 0 30%;
}

.ReadyHead{
    width: 300px;
    font-size: 3rem;
    font-weight: 500;
    color: #FFF;
}

.ayrgraph{
    width:200px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #FFF;


}

.digitspan{
    color: #FA4000;
}

.ReBtn2{
   width: 150px;
   font-size: .875rem;
    background-color: black !important;
}

.DoubleRect1{
    width:10rem;
    height:auto;
    margin-top: -0.4rem;
}

}

@media  (min-width:768px) and (max-width:992px){
    .Vector8{
        position: relative;
        width:12rem ;
        height: auto;
        display: flex;
    
        justify-content: center;
        align-items: center;
        margin:4rem auto 0rem 12rem;
        z-index: 1;
      
        
       
    }
.maindiv{

    position: relative;
    margin: -2rem auto 0 auto;
    width:90%;
    height: 22rem;
    background-color: #373737;
    border-radius: 2rem;
    z-index: 2;
 
}


.patternAYR{
    width:40%;
    height: auto;
    margin:2.7rem 0 0 .5rem;
}

.setlled{
    float: left;
}

.text{
margin: -18rem auto 0 22rem;

}

.ReadyHead{
    width: 300px;
    font-size: 3rem;
    font-weight: 500;
    color: #FFF;
}

.ayrgraph{
    width:200px;
    font-size: 1.2rem;
    font-weight: 300;

    color: #FFF;


}

.digitspan{
    color: #FA4000;
}

.ReBtn2{
   width: 150px;
   font-size: 1rem;
    background-color: black !important;
    margin-top: .8rem;
}


.DoubleRect1{
    width:10rem;
    height:auto;
    margin-top: -0.2rem;
}



}

@media  (min-width:992px) and (max-width:1200px){
.Vector8{
    position: relative;
    
    display: flex;
width: 14rem;
    justify-content: center;
    align-items: center;
    margin: 10rem auto 0rem 17rem;
    z-index: 1;
  
    
   
}

.maindiv{

    position: relative;
    margin: -2rem auto 0 auto;
    width:90%;
    height: 24rem;
    background-color: #373737;
    border-radius: 2rem;
    z-index: 2;
 
}


.patternAYR{
    width:43%;
    height: auto;
    margin:2rem 0 0 1rem;
}

.setlled{
    float: left;
}

.text{
    float: right;
margin: 0rem 0 0 0rem;

}

.ReadyHead{
    width: 360px;
    font-size: 4.3rem;
    font-weight: 600;
    color: #FFF;
    margin: 0 0 0;
}

.ayrgraph{
    width:300px;
    font-size: 1.7rem;
    font-weight: 350;
    color: #FFF;


}

.digitspan{
    color: #FA4000;
}

.ReBtn2{
   width: 150px;
   font-size: 1rem;
    background-color: black !important;
}

.DoubleRect1{

    width: 13rem;
    height: auto;
}


} */